<form hx-post="/todos/update/{{ todo.id }}" hx-trigger="submit, keydown[key=='Escape'], click from:html target::not(.edit)" hx-swap="outerHTML">
  <input class="edit" type="text" name="name" value="{{ todo.name }}">
</form>