<li id="todo-{{ todo.id }}" class="{{ 'completed' if todo.done }}">
  <div class="view">
    <input
      class="toggle"
      aria-label="Toggle todo"
      type="checkbox" {{ 'checked' if todo.done }}
      hx-patch="/todos/{{ todo.id }}"
      hx-target="#todo-{{ todo.id }}"
      hx-swap="outerHTML"
    >
    <label
      hx-get="/todos/edit/{{ todo.id }}"
      hx-target="#todo-{{ todo.id }}"
      hx-swap="outerHTML">
      {{ todo.name }}
    </label>
    <button class="destroy"
      hx-delete="/todos/{{ todo.id }}"
      hx-target="#todo-{{ todo.id }}"
      hx-swap="delete"
    </button>
  </div>
</li>
