<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A HTMX TodoMVC example">
    <title>HTMX • TodoMVC</title>
    <link rel="stylesheet" href="/css/todomvc-common/base.css">
    <link rel="stylesheet" href="/css/todomvc-app-css/index.css">
  </head>
  <body>
    <section class="todoapp">
      <header class="header">
        <h1 id="todos">Todos</h1>
        <form hx-post="/todos" hx-target="#todo-list" hx-swap="afterbegin" hx-on::after-request="txtTodo.value = ''">
          <input id="txtTodo" class="new-todo" name="todo" placeholder="What needs to be done?" autofocus>
        </form>
      </header>
      <section class="main">
        <input id="toggle-all" class="toggle-all" type="checkbox" hx-post="/todos/toggle-all" hx-target="#todo-list">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list" class="todo-list">
          {% for todo in todos %}
            {% include "includes/todo-item.njk" %}
          {% endfor %}
        </ul>
      </section>

      <footer class="footer">
        {% include "includes/item-count.njk" %}
        {% include "includes/filter.njk" %}
        <button class="clear-completed" hx-post="/todos/clear-completed" hx-target="#todo-list">Clear completed</button>
      </footer>
    </section>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  </body>
</html>
